section.contacts#contacts
    .container 
        .columns 
            .column.column--half.column-info
                .section-title Контакты

                .content
                    p Меня зовут 
                        b Валерия Закерничная

                    p Я дизайнер-декоратор, Член Ассоциации Специалистов Индустрии Дизайна продающих интерьеров, Арт-директор нескольких международных компаний, постоянный участник и призер конкурсов интерьеров.

                .contact-blocks
                    .contact-block 
                        .title Телефон
                        .content 
                            a(href="tel:+79099045855") +7 (909) 904-58-55

                    .contact-block 
                        .title Почта
                        .content 
                            a(href="mailto:9045855@gmail.com") 9045855@gmail.com

                    .contact-block
                        .title Социальные сети 
                        .socials 
                            a.soc(href="#")
                                span.soc-icon.soc-icon--ins(style="background-image: url(/img/icon-instagram.svg);")
                            a.soc(href="#")
                                span.soc-icon.soc-icon--vk(style="background-image: url(/img/icon-vk.svg);") 
                            a.soc(href="#")
                                span.soc-icon.soc-icon--wa(style="background-image: url(/img/icon-whatsapp.svg);")
                            a.soc(href="#")
                                span.soc-icon.soc-icon--tg(style="background-image: url(/img/icon-telegram.svg);")
                            a.soc(href="#")
                                span.soc-icon.soc-icon--ytb(style="background-image: url(/img/icon-youtube.svg);")

                //- .section-title Обратная связь

                //- form#feedback(method="POST")
                //-     .fields 
                //-         label
                //-             input.form-input(type="text" placeholder="Ваше имя")
                //-             input.form-input(type="text" placeholder="+7 (_ _ _) - _ _ _ - _ _ - _ _")
                //-             textarea.form-textarea(placeholder="Ваше сообщение")
                //-     .controls 
                //-         .btn.btn--gold Отправить
            .column.column--half
                .contacts-bg-image