footer 
    .container 
        .columns 
            .column.column--half 
                .logo-wrap
                    a.logo-link(href="/") 
                    p.logo-slogan Дизайн продающих интерьеров

            .column.column--half 
                .contacts
                    a.phone(href="tel:+79099045855") +7 (909) 904-58-55 
                    .socials 
                        a.soc(href="#")
                            img(src="/img/icon-instagram.svg")
                        a.soc(href="#")
                            img(src="/img/icon-vk.svg") 
                        a.soc(href="#")
                            img(src="/img/icon-whatsapp.svg")
                        a.soc(href="#")
                            img(src="/img/icon-telegram.svg")
                        a.soc(href="#")
                            img(src="/img/icon-telegram.svg")

            .column
                .copyrights 
                    .content 
                        p Заполняя и отправляя формы сбора данных вы автоматически даете свое согласие на обработку персональных данных
                        p Сайт и размещенные на нем данные принадлежат ValeryInterior.ru, 2023 г.