section.promo(style="background-image:url(/img/promo.webp);")
	.overlay
	.container
		.main-nav 
			a.nav-link(href='#about') Обо мне
			a.nav-link(href='#services') Услуги
			a.nav-link(href='#projects') Проекты
			//- a.nav-link(href='#') Обучение
			//- a.nav-link(href='#') Блог
			a.nav-link(href='#contacts') Контакты
		.logo-wrap
			a.logo(href="/")
				img(src="/img/logo-white.svg", alt="")
				span.slogan Дизайн продающих интерьеров