section.my-profile
    .container 
        .section-title Мой профиль

        ul.profile-points 
            li.profile-item Дизайн, ремонт и упаковка под ключ объектов для инвесторов в недвижимость
            li.profile-item Дизайн квартир для посуточной аренды и долгосрочной аренды и флиппинга 
            li.profile-item Перепланировка и оснащение 
            li.profile-item Интерьерные магазины и выставки
            li.profile-item Мини-отели
            li.profile-item Консультиции на любом этапе ремонта или дизайна для инвесторов и дизайнеров