section.my-partners 
    .container 
        .section-title Реализованы проекты для компаний

        .partners-slider 
            .partner.swiper-wrapper 
                .swiper-slide
                    .inner(style="background-image: url(/img/partners/albert.webp);")
                .swiper-slide
                    .inner(style="background-image: url(/img/partners/assoc.webp);")
                .swiper-slide
                    .inner(style="background-image: url(/img/partners/bette.webp);")
                .swiper-slide
                    .inner(style="background-image: url(/img/partners/capital.webp);")
                .swiper-slide
                    .inner(style="background-image: url(/img/partners/fortrocks.webp);")
                .swiper-slide
                    .inner(style="background-image: url(/img/partners/instroy.webp);")
                .swiper-slide
                    .inner(style="background-image: url(/img/partners/lifestyle-unico.webp);")
                .swiper-slide
                    .inner(style="background-image: url(/img/partners/manini-mobili.webp);")
                .swiper-slide
                    .inner(style="background-image: url(/img/partners/manngroup.webp);")
                .swiper-slide
                    .inner(style="background-image: url(/img/partners/manufacture.webp);")
                .swiper-slide
                    .inner(style="background-image: url(/img/partners/mebel-chernozemia.webp);")
                .swiper-slide
                    .inner(style="background-image: url(/img/partners/miassmobili.webp);")
                .swiper-slide
                    .inner(style="background-image: url(/img/partners/perrino.webp);")
                .swiper-slide
                    .inner(style="background-image: url(/img/partners/relotti.webp);")
                .swiper-slide
                    .inner(style="background-image: url(/img/partners/riflesso.webp);")
                .swiper-slide
                    .inner(style="background-image: url(/img/partners/unico-interiors.webp);")
                .swiper-slide
                    .inner(style="background-image: url(/img/partners/vesper.webp);")