section.projects#projects
    .container 
        .section-title Фото наших проектов

        .js__projects-slider
            .swiper-wrapper
                .swiper-slide 
                    .columns
                        .column.column--half 
                            .gallery-image(style="background-image: url(/img/proj_001__001.jpg);")

                        .column.column--half.details
                            .project-details
                                .title Проект Теплый стан. 
                                .address под флиппинг
                                .project-content
                                    p 50 м
                                        sup 2 
                                    p Срок ремонта 2 мес.
                                    p Продан в кратчайшие сроки.

                                .works 
                                    .title Выполнялись:
                                    ul.works-lines
                                        li.work Перепланировка,
                                        li.work Рабочие чертежи,
                                        li.work Комплектация,
                                        li.work Авторский надзор,
                                        li.work Подготовка к фотосессии,
                                        li.work Работа с фотографом.

                                //- .info 
                                //-     img.icon-info(src="/img/icon-information.svg")
                                //-     span.info-text Чтобы лучше рассмотреть, вы можете увеличить основное изображение, кликнув по нему левой кнопкой мышки.
                .swiper-slide 
                    .columns
                        .column.column--half 
                            .gallery-image(style="background-image: url(/img/proj_002__001.jpg);")

                        .column.column--half.details
                            .project-details
                                .title Проект Нахимовский проспект. 
                                .address под флиппинг
                                .project-content
                                    p 2 комнатная кв.
                                    p Срок ремонта 2 мес.
                                    P Задача: проект под флиппинг, перепродажа недвижимости
                                    p Квартира продана с первого показа.

                                .works 
                                    .title Выполнялись:
                                    ul.works-lines
                                        li.work Перепланировка,
                                        li.work Рабочие чертежи,
                                        li.work Комплектация,
                                        li.work Авторский надзор,
                                        li.work Подготовка к фотосессии,
                                        li.work Работа с фотографом.

                                //- .info 
                                //-     img.icon-info(src="/img/icon-information.svg")
                                //-     span.info-text Чтобы лучше рассмотреть, вы можете увеличить основное изображение, кликнув по нему левой кнопкой мышки.    
                .swiper-slide 
                    .columns
                        .column.column--half 
                            .gallery-image(style="background-image: url(/img/proj_003__001.jpg);")

                        .column.column--half.details
                            .project-details
                                .title Проект Текстильщики. 
                                .address под флиппинг
                                .project-content 
                                    p 50 м
                                        sup 2 
                                    p Срок ремонта 2 мес. 
                                    p Задача: перепродажа недвижимости
                                    p Продан быстро и с хорошей прибылью.

                                .works 
                                    .title Выполнялись:
                                    ul.works-lines
                                        li.work Перепланировка,
                                        li.work Рабочие чертежи,
                                        li.work Комплектация,
                                        li.work Авторский надзор,
                                        li.work Подготовка к фотосессии,
                                        li.work Работа с фотографом.

                                //- .info 
                                //-     img.icon-info(src="/img/icon-information.svg")
                                //-     span.info-text Чтобы лучше рассмотреть, вы можете увеличить основное изображение, кликнув по нему левой кнопкой мышки.

                .swiper-slide 
                    .columns
                        .column.column--half 
                            .gallery-image(style="background-image: url(/img/preobrazhenskaya.jpeg);")

                        .column.column--half.details
                            .project-details
                                .title Проект Преображенская площадь.
                                .address Апартамент с ремонтом
                                .project-content
                                    p 20.6 м
                                        sup 2 
                                    p Срок подготовки "под ключ" - 1 мес. 
                                    p Задача: комплектация объекта для продажи. 
                                    p Продан быстро и с прибылью.

                                .works 
                                    .title Выполнялись:
                                    ul.works-lines
                                        li.work Перепланировка,
                                        li.work Рабочие чертежи,
                                        li.work Комплектация,
                                        li.work Авторский надзор,
                                        li.work Подготовка к фотосессии,
                                        li.work Работа с фотографом.

                                //- .info 
                                //-     img.icon-info(src="/img/icon-information.svg")
                                //-     span.info-text Чтобы лучше рассмотреть, вы можете увеличить основное изображение, кликнув по нему левой кнопкой мышки.        
            .controls
                .prev-project Предыдущий проект
                .next-project Следующий проект
