section.projects#projects
    .container 
        .section-title Фото наших проектов

        .js__projects-slider
            .swiper-wrapper
                .swiper-slide 
                    .columns
                        .column.column--half 
                            .gallery-image(style="background-image: url(/img/proj_001__001.jpg);")

                        .column.column--half.details
                            .project-details
                                .title Квартира на Генерала Тюленева
                                .address 

                                .works 
                                    .title Выполнялись:
                                    ul.works-lines
                                        li.work Перепланировка,
                                        li.work Рабочие чертежи,
                                        li.work Комплектация,
                                        li.work Авторский надзор,
                                        li.work Подготовка к фотосессии,
                                        li.work Работа с фотографом.

                                .info 
                                    img.icon-info(src="/img/icon-information.svg")
                                    span.info-text Чтобы лучше рассмотреть, вы можете увеличить основное изображение, кликнув по нему левой кнопкой мышки.
                .swiper-slide 
                    .columns
                        .column.column--half 
                            .gallery-image(style="background-image: url(/img/proj_002__001.jpg);")

                        .column.column--half.details
                            .project-details
                                .title Квартира на Сивашской
                                .address 

                                .works 
                                    .title Выполнялись:
                                    ul.works-lines
                                        li.work Перепланировка,
                                        li.work Рабочие чертежи,
                                        li.work Комплектация,
                                        li.work Авторский надзор,
                                        li.work Подготовка к фотосессии,
                                        li.work Работа с фотографом.

                                .info 
                                    img.icon-info(src="/img/icon-information.svg")
                                    span.info-text Чтобы лучше рассмотреть, вы можете увеличить основное изображение, кликнув по нему левой кнопкой мышки.    
                .swiper-slide 
                    .columns
                        .column.column--half 
                            .gallery-image(style="background-image: url(/img/proj_003__001.jpg);")

                        .column.column--half.details
                            .project-details
                                .title Квартира в Текстильщиках
                                .address 

                                .works 
                                    .title Выполнялись:
                                    ul.works-lines
                                        li.work Перепланировка,
                                        li.work Рабочие чертежи,
                                        li.work Комплектация,
                                        li.work Авторский надзор,
                                        li.work Подготовка к фотосессии,
                                        li.work Работа с фотографом.

                                .info 
                                    img.icon-info(src="/img/icon-information.svg")
                                    span.info-text Чтобы лучше рассмотреть, вы можете увеличить основное изображение, кликнув по нему левой кнопкой мышки.             
            .controls
                .prev-project Предыдущий проект
                .next-project Следующий проект
