section.services#services
    .container 
        .section-title Услуги

        .content 
            p Создаем инвестиционные и коммерческие объекты, в том числе дистанционно 
            p Любой объект в Москве может быть сделан под ключ

        .services-list 
            .service.service--consult 
                .service-header
                    .service-number 1
                    .service-title Устная консультация Валерии Закерничной
                    .service-subtitle 
                        .content 
                            p Консультация на любом этапе ремонта и дизайна для себя, инвесторов в недвижимость, риелторов, рантье посуточной аренды, дизайнеров.

                .columns 
                    .column.column--half.column--price
                        .price 
                            .price-title Очно:
                            .price-size 25 000 руб. / 1 час
                        .price 
                            .price-title Онлайн:
                            .price-size 15 000 руб. / 1 час

                    .column.column--half.column--details 
                        .details
                            .delails-item Ответы на любые вопросы по ремонту и дизайну
                            .delails-item На объекте/дистанционно 
                            .delails-item План изменений
                            .delails-item Оценка возможностей

                        .controls
                            .btn.btn--gold.js__send-request Оставить заявку

            .service.service--complect 
                .service-header
                    .service-number 2
                    .service-title Комплектация (оснащение) квартиры <br>под ключ под аренду/продажу
                    .service-subtitle 
                        .content 
                            p * подходит вам, если квартира уже с ремонотом (под сдачу или продажу), не для собственного проживания

                .columns 
                    .column.column--price
                        .price 
                            .price-title
                            .price-size 3 000 руб. / 1 кв. м.
                        .content 
                            p Минимальный заказ от 70 000 руб. за студию до 40 кв.м. Срок от 3-7 дней.
                            P Вы закупаете все самостоятельно

                        .price.price--second 
                            .price-title
                            .price-size от 150 000 руб. / 1 студия

                        .content 
                            p Мы организуем закупки, доставоку и расстановку всего вышеперечисленного. Итоговая стоимость обсуждается индивидуально (зависит от площади и удаленности объекта).
                            p Вы отдаете нам ключи и через 3-4 недели получаете готовую к сдаче/продаже квартиру.

                    .column.column--details 
                        .details
                            .delails-item План расстановки мебели и техники
                            .delails-item Список мебели, техники, текстиля, декора, освещения со ссылками и ценами
                            .delails-item Если объект для аренды, то проект включает в себя список полного наполнения: посуда, расходные материалы, текстиль и т.д.

                        .controls
                            .btn.btn--gold.js__send-request Оставить заявку



            .service.service--complect 
                .service-header
                    .service-number 3
                    .service-title Полный дизайн-проект
                    .service-subtitle 
                        .content 
                            p Инвест квартир с черновой отделкой, отделкой whitebox или под капитальный ремонт

                .columns 
                    .column.column--price
                        .price 
                            .price-title
                            .price-size 4 200 руб. / 1 кв. м.
                        .content 
                            p Минимальный заказ от 150 000 руб.

                    .column.column--details 
                        .details
                            .delails-item Концепция
                            .delails-item Комплект рабочих чертежей
                            .delails-item Список мебели, техники, текстиля, декора, световых элементов со ссылками и ценами на них

                            .delails-item Если объект для аренды, то проект включает в себя список полного наполнения: посуда, постельное белье и тд, расходные материалы, текстиль и т. д.

                        .controls
                            .btn.btn--gold.js__send-request Оставить заявку



            .service.service--complect 
                .service-header
                    .service-number 4
                    .service-title Полный дизайн-проект с 3D визуализацией
                    .service-subtitle 
                        .content 
                            p Инвест квартир с черновой отделкой, отделкой whitebox или под капитальный ремонт

                .columns 
                    .column.column--price
                        .price 
                            .price-title
                            .price-size 4 500 руб. / 1 кв. м.
                        .content 
                            p Минимальный заказ от 150 000 руб.

                    .column.column--details 
                        .details
                            .delails-item Концепция
                            .delails-item Комплект рабочих чертежей
                            .delails-item Список мебели, техники, текстиля, декора, световых элементов со ссылками и ценами на них
                            .delails-item 3D визуализация
                            .delails-item Если объект для аренды, то проект включает в себя список полного наполнения: посуда, постельное белье и тд, расходные материалы, текстиль и т. д.

                        .controls
                            .btn.btn--gold.js__send-request Оставить заявку



            .service.service--complect 
                .service-header
                    .service-number 5
                    .service-title Авторский надзор + комплектация
                    .service-subtitle 
                        .content 
                            p Вы отдаете нам ключи и получаете готовую к сдаче/продаже квартиру.

                .columns 
                    .column.column--price
                        .price 
                            .price-title
                            .price-size 40 000 руб. / 1 месяц
                        .content 
                            p * В зависимости от адреса расположения объекта

                    .column.column--details 
                        .details
                            .delails-item Полное сопровождение и решение всех вопросов по текущему ремонту
                            .delails-item Контроль процесса стройки
                            .delails-item Закупка отделочных материалов
                            .delails-item * Комплектация – организация закупок для полного наполнения квартиры и сборки мебели, оплачивается дополнительно

                        .controls
                            .btn.btn--gold.js__send-request Оставить заявку