section.who-i-am#about
    .container 
        .section-title Кто я

        .columns 
            .column.column--third
                ul.advantages 
                    li.advantage Дипломированный дизайнер-декоратор с 20-летним опытом в ремонте и дизайне
                    li.advantage Училась в России и за рубежом
                    li.advantage Эксперт по продающим интерьерам
                    li.advantage Эксперт мебельного и текстильного бизнеса
                    li.advantage 10 лет работала арт-директором в известных российских и международных интерьерных и текстильных компаний UNICO, RELOTTI и т.д.
            .column.column--third
                .my-photo(style="background-image: url(/img/valery.jpg);")
            .column.column--third
                ul.advantages 
                    li.advantage Постоянный посетитель и участник интерьерных выставок в Москве и за рубежом
                    li.advantage Многократный победитель интерьерных конкурсов и премий
                    li.advantage Член Ассоциации специалистов индустрии дизайна
                    li.advantage Автор мастер-классов, лекций и обучений по ремонту и дизайну
                    li.advantage Создатель более 300 проектов, площадью от 23 до 2500 кв. метров